<%layout("layout/boilerplate")%>
<div class="row">
  <h1 class="text-center"></h1>
  <div class="col-md-6 offset-md-3">
    <h1>Edit Campground</h1>
    <form
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="from-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
          value="<%=campground.title%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="location" class="from-label">Location</label>
        <input
          type="text"
          id="location"
          class="form-control"
          name="campground[location]"
          value="<%=campground.location%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="from-label">Description</label>
        <textarea
          type="text"
          id="description"
          class="form-control"
          name="campground[description]"
          required
        >
        <%=campground.description%>
        </textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            aria-label="price"
            placeholder="0"
            name="campground[price]"
            value="<%=campground.price%>"
            required
          />
          <span class="input-group-text">.00</span>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="image" class="from-label">Add more images</label>
        <input
          type="file"
          multiple
          id="image"
          class="form-control"
          name="image"
          value="<%=campground.image%>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <% campground.images.forEach(function(img,i){ %>
        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="" />
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="deleteImages[]"
            value="<%=img.filename%>"
            id="img-<%=i%>"
          />
          <label class="form-check-label" for="img-<%=i%>"> DELETE? </label>
        </div>
        <% }); %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Camground</button>
      </div>
    </form>
    <a href="/campgrounds">Back To Campground</a>
  </div>
</div>
